<section class="mt-4" id="content">
    {% for structure in structures %}
        <article class="border rounded-3 m-1 p-2 pt-4">
            <h2 class="text-center m-4 text-decoration-underline">Détail de la structure</h2>
            <div class="p-2">
                <div class="d-flex flex-column flex-lg-row align-items-lg-center justify-content-lg-around">
                    {{ include('structure/_image_structure.html.twig') }}
                    <div class="d-flex flex-row justify-content-evenly mt-4 flex-lg-column mt-lg-0">
                        <p>{{ structure.name | upper }}</p>
                        <p>{{ structure.address }}</p>
                        <p>{{ structure.city }}</p>
                        <p>{{ structure.shortDescription }}</p>
                    </div>
                </div>
                <div class="mx-4 my-1 m-lg-4">
                    {% include 'interrupteur/_interrupteur.html.twig' with {active : structure.active} only %}
                </div>
            </div>
            <div class="p-2">
                <h2 class="text-center m-4 text-decoration-underline">Options de la structure</h2>
                <article class="d-flex flex-column flex-md-row justify-content-md-around">
                    <div>
                        <div>
                            <p>Vente de protéines</p>
                            <p>
                                {% include 'interrupteur/_interrupteurs.html.twig' with {active : structure.wheySale} only %}
                            </p>
                        </div>
                        <div>
                            <p>Vente de serviettes</p>
                            <p>
                                {% include 'interrupteur/_interrupteurs.html.twig' with {active : structure.towelSale} only %}
                            </p>
                        </div>
                        <div>
                            <p>Vente de boissons</p>
                            <p>
                                {% include 'interrupteur/_interrupteurs.html.twig' with {active : structure.drinkSale} only %}
                            </p>
                        </div>
                        <div>
                            <p>Accès sauna</p>
                            <p>
                                {% include 'interrupteur/_interrupteurs.html.twig' with {active : structure.sauna} only %}
                            </p>
                        </div>
                        <div>
                            <p>Jour de paiement</p>
                            <p>
                                {% include 'interrupteur/_interrupteurs.html.twig' with {active : structure.paymentDay} only %}
                            </p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <p>Fermeture tardive</p>
                            <p>
                                {% include 'interrupteur/_interrupteurs.html.twig' with {active : structure.lateClosing} only %}
                            </p>
                        </div>
                        <div>
                            <p>Option newsletter</p>
                            <p>
                                {% include 'interrupteur/_interrupteurs.html.twig' with {active : structure.sendNewsletter} only %}
                            </p>
                        </div>
                        <div>
                            <p>Accès secteur boxing</p>
                            <p>
                                {% include 'interrupteur/_interrupteurs.html.twig' with {active : structure.ringBoxe} only %}
                            </p>
                        </div>
                        <div>
                            <p>Accès secteur crossfit</p>
                            <p>
                                {% include 'interrupteur/_interrupteurs.html.twig' with {active : structure.crossfit} only %}
                            </p>
                        </div>
                        <div>
                            <p>Accès secteur biking</p>
                            <p>
                                {% include 'interrupteur/_interrupteurs.html.twig' with {active : structure.biking} only %}
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </article>
    {% endfor %}
</section>