{% extends 'base.html.twig' %}

{% block title %}La liste des partenaires{% endblock %}

{% block body %}
    <section>
        {{ form_start(structureSearchType) }}
        <div>
            <div>
                {{ franchise.name }}
            </div>
            <div>
                {{ form_label(structureSearchType.name) }}
                {{ form_widget(structureSearchType.name) }}
            </div>
            <div>
                {% include 'interrupteur/_interrupteur.html.twig' with {active : franchise.active} only %}
            </div>
        </div>
{#        <div class="buttonPartner">#}
{#            <button type="reset">#}
{#                TOUTES#}
{#            </button>#}
{#            {% if is_granted('ROLE_ADMIN') %}#}
{#                <a href="{{ path('app_admin_create_structure')}}">#}
{#                    <button type="button">#}
{#                        AJOUTER#}
{#                    </button>#}
{#                </a>#}
{#            {% endif %}#}
{#            <button type="submit">#}
{#                RECHERCHER#}
{#            </button>#}
{#        </div>#}
        {{ form_end(structureSearchType) }}
    </section>
    {% for structure in structures %}
    <h2>Liste des structures</h2>
    <section class="listPartner">
        {%  for structure in structures %}
            <article class="border">
                <div class="listPartnerDiv">
                    {{ include('structure/_image_structure.html.twig') }}
                    <div>
                        <p>{{ structure.name }}</p>
                        <p>{{ structure.address }}</p>
                        <p>{{ structure.shortDescription }}</p>
                        <p>{{ structure.fullDescription }}</p>
                    </div>
                </div>
                <div class="listActif">
                    {{ structure.active }}
                    <button type="button"><a href="{{ path('app_admin_edit_structure', {id : structure.id}) }}">Modifier une structure</a></button>
                </div>

                <div class="listActif">
                    {% include 'interrupteur/_interrupteur.html.twig' with {active : structure.active} only %}
{#                    {% if is_granted('ROLE_ADMIN') %}#}
                        <button type="button"><a href="{{ path('app_admin_edit_structure', {id : structure.id}) }}">Modifier la structure</a></button>
{#                    {% endif %}#}
{#                    #}{# {% elseif is_granted('ROLE_USER')%} #}
{#                    <button type="button"><a href="{{ path('app_detail_structure', {id : franchise.id}) }}">Voir la franchise</a></button>#}
{#                    <button type="button"><a href="{{ path('app_detail_franchise', {id : franchise.id}) }}">Réinitialisation mot de passe</a></button>#}
                    {#                    {% endif %}#}

                </div>
            </article>
        {% endfor %}
    </section>

    <div class="partnerButton">
        <button><a href="{{ path('app_admin_create_structure') }}">Créer une nouvelle structure</a></button>
    </div>
    {{ knp_pagination_render(structures) }}
{% endblock %}

