{{ form_start(structureRegistrationForm) }}
<article class="border rounded-1 p-2 m-1">
    <div class="d-flex flex-column my-2">
        {{ form_label(structureRegistrationForm.name) }}
        {{ form_widget(structureRegistrationForm.name, {'attr': {'class': 'form-control rounded-3'}}) }}
    </div>
    <div class="d-flex flex-column my-2">
        {{ form_label(structureRegistrationForm.franchise) }}
        {{ form_widget(structureRegistrationForm.franchise, {'attr': {'class': 'form-control rounded-3'}}) }}
    </div>
    <div class="d-flex flex-column my-2">
        {{ form_label(structureRegistrationForm.email) }}
        {{ form_widget(structureRegistrationForm.email, {'attr': {'class': 'form-control rounded-3'}}) }}
    </div>
    <div class="d-flex flex-column my-2">
        {{ form_label(structureRegistrationForm.address) }}
        {{ form_widget(structureRegistrationForm.address, {'attr': {'class': 'form-control rounded-3'}}) }}
    </div>
    <div class="d-flex flex-column my-2">
        {{ form_label(structureRegistrationForm.imageFile) }}
        {{ form_widget(structureRegistrationForm.imageFile, {'attr': {'class': 'form-control rounded-3'}}) }}
    </div>
    <div class="d-flex flex-column my-2">
        {{ form_label(structureRegistrationForm.postalCode) }}
        {{ form_widget(structureRegistrationForm.postalCode, {'attr': {'class': 'form-control rounded-3'}}) }}
    </div>
    <div class="d-flex my-2 form-switch active-switch">
        {% include "interrupteur/_interrupteur_new_edit.html.twig" with {form: structureRegistrationForm.active} only %}
    </div>
    <div class="d-flex flex-column my-2">
        {{ form_label(structureRegistrationForm.city) }}
        {{ form_widget(structureRegistrationForm.city, {'attr': {'class': 'form-control rounded-3'}}) }}
    </div>
    <div class="d-flex flex-column my-2">
        {{ form_label(structureRegistrationForm.shortDescription) }}
        {{ form_widget(structureRegistrationForm.shortDescription, {'attr': {'class': 'form-control rounded-3'}}) }}
    </div>
    <div class="d-flex flex-column my-2">
        {{ form_label(structureRegistrationForm.fullDescription) }}
        {{ form_widget(structureRegistrationForm.fullDescription, {'attr': {'class': 'form-control rounded-3'}}) }}
    </div>
</article>
<section class="border rounded-1 p-2 m-1">
    <h2 class="text-center m-4">Options de la structure</h2>
    <article class="d-flex flex-column flex-md-row justify-content-md-around">
        <div>
            <div class="d-flex my-2 justify-content-between form-check form-switch">
                {% include "interrupteur/_interrupteur_new_edit.html.twig" with {form: structureRegistrationForm.wheySale} only %}
            </div>
            <div class="d-flex my-2 justify-content-between form-check form-switch">
                {% include "interrupteur/_interrupteur_new_edit.html.twig" with {form: structureRegistrationForm.towelSale} only %}
            </div>
            <div class="d-flex my-2 justify-content-between form-check form-switch">
                {% include "interrupteur/_interrupteur_new_edit.html.twig" with {form: structureRegistrationForm.drinkSale} only %}
            </div>
            <div class="d-flex my-2 justify-content-between form-check form-switch">
                {% include "interrupteur/_interrupteur_new_edit.html.twig" with {form: structureRegistrationForm.sauna} only %}
            </div>
            <div class="d-flex my-2 justify-content-between form-check form-switch">
                {% include "interrupteur/_interrupteur_new_edit.html.twig" with {form: structureRegistrationForm.paymentDay} only %}
            </div>
        </div>
        <div>
            <div class="d-flex my-2 justify-content-between form-check form-switch">
                {% include "interrupteur/_interrupteur_new_edit.html.twig" with {form: structureRegistrationForm.lateClosing} only %}
            </div>
            <div class="d-flex my-2 justify-content-between form-check form-switch">
                {% include "interrupteur/_interrupteur_new_edit.html.twig" with {form: structureRegistrationForm.sendNewsletter} only %}
            </div>
            <div class="d-flex my-2 justify-content-between form-check form-switch">
                {% include "interrupteur/_interrupteur_new_edit.html.twig" with {form: structureRegistrationForm.ringBoxe} only %}
            </div>
            <div class="d-flex my-2 justify-content-between form-check form-switch">
                {% include "interrupteur/_interrupteur_new_edit.html.twig" with {form: structureRegistrationForm.crossfit} only %}
            </div>
            <div class="d-flex my-2 justify-content-between form-check form-switch">
                {% include "interrupteur/_interrupteur_new_edit.html.twig" with {form: structureRegistrationForm.biking} only %}
            </div>
        </div>
    </article>
</section>
{{ form_rest(structureRegistrationForm) }}