{% extends 'base.html.twig' %}

{% block title %}La liste des partenaires{% endblock %}

{% block body %}
    <section>
        <div>
            <div class="champs">
                <label for="client_name">client_name</label>
                <input type="text" id="client_name" placeholder="Nantes">
            </div>
            <div class="champs">
                <label for="client_id">client_id</label>
                <input type="number" id="client_id" placeholder="44">
            </div>
        </div>
        <div>
            <button type="button" class="buttonAction">ACTIF</button>
            <button type="button">NON ACTIF</button>
        </div>
    </section>
    <section>
        <div class="partnerDiv">
            <img src="{{ asset('/images/logo.jpg') }}" alt="photo de la salle">
            <div class="partnerInfo">
                <p>client_id</p>
                <p>client_name</p>
                <p>short description</p>
                <p>url</p>
            </div>
        </div>
        {{ include('partner/_interrupteur.html.twig') }}
    </section>
    <section>
        <div class="partnerDiv">
            <img src="{{ asset('/images/logo.jpg') }}" alt="photo de la salle">
            <div class="partnerInfo">
                <p>client_id</p>
                <p>client_name</p>
                <p>short description</p>
                <p>url</p>
            </div>
        </div>
        {{ include('partner/_interrupteur.html.twig') }}
    </section>
    <section>
        <div class="partnerDiv">
            <img src="{{ asset('/images/logo.jpg') }}" alt="photo de la salle">
            <div class="partnerInfo">
                <p>client_id</p>
                <p>client_name</p>
                <p>short description</p>
                <p>url</p>
            </div>
        </div>
        {{ include('partner/_interrupteur.html.twig') }}
    </section>
    <section>
        <div class="partnerDiv">
            <img src="{{ asset('/images/logo.jpg') }}" alt="photo de la salle">
            <div class="partnerInfo">
                <p>client_id</p>
                <p>client_name</p>
                <p>short description</p>
                <p>url</p>
            </div>
        </div>
        {{ include('partner/_interrupteur.html.twig') }}
    </section>
    <section>
        <div class="partnerDiv">
            <img src="{{ asset('/images/logo.jpg') }}" alt="photo de la salle">
            <div class="partnerInfo">
                <p>client_id</p>
                <p>client_name</p>
                <p>short description</p>
                <p>url</p>
            </div>
        </div>
        {{ include('partner/_interrupteur.html.twig') }}
    </section>
    <section>
        <div class="partnerDiv">
            <img src="{{ asset('/images/logo.jpg') }}" alt="photo de la salle">
            <div class="partnerInfo">
                <p>client_id</p>
                <p>client_name</p>
                <p>short description</p>
                <p>url</p>
            </div>
        </div>
        {{ include('partner/_interrupteur.html.twig') }}
    </section>
    <section>
        <div class="partnerDiv">
            <img src="{{ asset('/images/logo.jpg') }}" alt="photo de la salle">
            <div class="partnerInfo">
                <p>client_id</p>
                <p>client_name</p>
                <p>short description</p>
                <p>url</p>
            </div>
        </div>
        {{ include('partner/_interrupteur.html.twig') }}
    </section>
    <section>
        <div class="partnerDiv">
            <img src="{{ asset('/images/logo.jpg') }}" alt="photo de la salle">
            <div class="partnerInfo">
                <p>client_id</p>
                <p>client_name</p>
                <p>short description</p>
                <p>url</p>
            </div>
        </div>
        {{ include('partner/_interrupteur.html.twig') }}
    </section>
    <section>
        <div class="partnerDiv">
            <img src="{{ asset('/images/logo.jpg') }}" alt="photo de la salle">
            <div class="partnerInfo">
                <p>client_id</p>
                <p>client_name</p>
                <p>short description</p>
                <p>url</p>
            </div>
        </div>
        {{ include('partner/_interrupteur.html.twig') }}
    </section>
    <section>
        <div class="partnerDiv">
            <img src="{{ asset('/images/logo.jpg') }}" alt="photo de la salle">
            <div class="partnerInfo">
                <p>client_id</p>
                <p>client_name</p>
                <p>short description</p>
                <p>url</p>
            </div>
        </div>
        {{ include('partner/_interrupteur.html.twig') }}
    </section>
    <div class="partnerLink">
        <button class="partnerButton"><a href="/partner/edit">Modifier le partenaire</a></button>
        <button class="partnerButton"><a href="/partner/new">Créer un nouveau partenaire</a></button>
    </div>
{% endblock %}
