<nav>
    <div>
        <img src="{{ asset('/images/logo1.jpg') }}" alt="logo" class="logo">
    </div>
    <input id="menu-input" type="checkbox" />
    <label class='menu-button-container' for="menu-input">
        <div class='menu-button'></div>
    </label>
    <ul class="menu">
        <li><a href="{{ path('api_home') }}">Accueil</a></li>
        <li><a href="{{ path('app_list_franchise') }}">Liste des partenaires</a></li>
        <li><a href="{{ path('app_list_structure') }}">Liste des structures</a></li>
        <li><a href="{{ path('app_admin_create_franchise') }}">Créer une franchise</a></li>
        <li><a href="{{ path('app_admin_create_structure') }}">Créer une structure</a></li>
    </ul>
</nav>