<header>
    <nav class="p-3 text-bg-secondary container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="{{ path('api_home') }}" class="nav-link px-2 text-white">
                        Accueil
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('app_admin_create_franchise') }}" class="nav-link px-2 text-white d-none d-md-block">
                            Créer une franchise
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_admin_create_structure') }}" class="nav-link px-2 text-white d-none d-md-block">
                            Créer une structure
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_admin_list_franchise') }}" class="nav-link px-2 text-white">
                            Liste des franchises
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout_admin') }}" class="nav-link px-2 text-white">
                            Déconnexion
                        </a>
                    </li>
                {% elseif is_granted('ROLE_FRANCHISE') %}
                    <li>
                        <a href="{{ path('app_list_franchise') }}" class="nav-link px-2 text-white">
                            Liste des franchises
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout_franchise') }}" class="nav-link px-2 text-white">
                            Déconnexion
                        </a>
                    </li>
                {% elseif is_granted('ROLE_STRUCTURE') %}
                    <li>
                        <a href="{{ path('app_list_franchise_by_structure') }}" class="nav-link px-2 text-white">
                            Liste des franchises
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout_structure') }}" class="nav-link px-2 text-white">
                            Déconnexion
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>