<section class="border rounded-3 p-2 m-1">
    {{ form_start(structureSearchType) }}
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-column w-75">
            <div class="d-flex flex-column m-3">
                {{ form_label(structureSearchType.name) }}
                {{ form_widget(structureSearchType.name) }}
            </div>
            <div class="d-flex flex-column m-3">
                {{ form_label(structureSearchType.city) }}
                {{ form_widget(structureSearchType.city) }}
            </div>
            <div>
                {{ form_widget(structureSearchType.active, {'attr': {'class': 'd-flex flex-row justify-content-around justify-content-lg-start px-lg-5 m-3'}}) }}
            </div>
        </div>
        <div class="d-flex flex-column">
            <button type="reset" class="btn btn-danger rounded-3 p-1 m-2">
                TOUTES
            </button>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_admin_create_structure') }}" class="btn btn-success rounded-3 p-1 m-2">
                        AJOUTER
                </a>
            {% endif %}
        </div>
    </div>
    {{ form_end(structureSearchType) }}
</section>