<div class="border rounded-3 p-2 m-1">
    {{ form_start(franchiseSearchType) }}
    <div class="d-flex flex-column">
        <div class="d-flex flex-column my-2 my-lg-4">
            {{ form_label(franchiseSearchType.name) }}
            {{ form_widget(franchiseSearchType.name) }}
        </div>
        <div class="d-flex flex-column my-2 my-lg-4">
            {{ form_label(franchiseSearchType.city) }}
            {{ form_widget(franchiseSearchType.city) }}
        </div>
    </div>
    <div>
        {{ form_widget(franchiseSearchType.active, {'attr': {'class': 'd-flex flex-row justify-content-evenly my-2 px-lg-5 my-lg-5'}}) }}
    </div>
    <div class="d-flex flex-row justify-content-around my-4">
        <button type="reset" class="btn border border-secondary rounded-3 m-2 p-2 w-25">
            TOUTES
        </button>
        <button class="btn border border-secondary rounded-3 m-2 p-2 w-25">
            RECHERCHER
        </button>
    </div>
    {{ form_end(franchiseSearchType) }}
</div>