{% extends 'base.html.twig' %}

{% block title %}Détail de la franchise{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/filters.js') }}" defer></script>
{% endblock %}

{% block body %}
    <main class="container">
        <div class="m-3">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_admin_list_franchise') }}" class="rounded-3 p-1">
                    <button type="button" id="list" class="btn btn-secondary">
                        Liste partenaires
                    </button>
                </a>
            {% elseif is_granted('ROLE_FRANCHISE') %}
                <a href="{{ path('app_list_franchise') }}" class="rounded-3 p-1">
                    <button type="button" id="list" class="btn btn-secondary">
                        Liste partenaires
                    </button>
                </a>
            {% elseif is_granted('ROLE_STRUCTURE') %}
                <a href="{{ path('app_list_franchise_by_structure') }}" class="rounded-3 p-1">
                    <button type="button" id="list" class="btn btn-secondary">
                        Liste partenaires
                    </button>
                </a>
            {% endif %}
        </div>
        <div class="border rounded-3 p-2 m-1">
            <h2 class="text-center m-2 text-decoration-underline">Détail de la franchise</h2>
            <div class="d-flex flex-column flex-lg-row justify-content-lg-around">
                {{ include('franchise/_image_franchise.html.twig') }}
                <div class="d-flex flex-row justify-content-between align-items-center
                        flex-lg-column justify-content-lg-center align-items-lg-end">
                    <p class="mt-3 mt-lg-0">{{ franchise.name | upper }}</p>
                    <p class="mt-3 mt-lg-0">{{ franchise.email }}</p>
                    {% include 'interrupteur/_interrupteur.html.twig' with {active: franchise.active} only %}
                </div>
            </div>
        </div>
        {% include'search/searchStructure.html.twig' %}
        {% include 'structure/detail_structure.html.twig' %}
        <div class="d-flex flex-row justify-content-end mx-3 mt-5 mb-2">
            <a href="{{ path('app_admin_create_structure') }}">
                <button type="button" class="btn btn-secondary rounded-3 p-1">
                    Créer une nouvelle structure
                </button>
            </a>
        </div>
        <div class="pagination justify-content-center">
            {{ knp_pagination_render(structures) }}
        </div>
    </main>
{% endblock %}