{% extends 'base.html.twig' %}

{% block title %}La liste des partenaires{% endblock %}

{% block body %}
    <div class="border searchPartner">
        {{ form_start(franchiseSearchType) }}
        <div class="searchDiv">
            <div class="search">
                {{ form_label(franchiseSearchType.name) }}
                {{ form_widget(franchiseSearchType.name) }}
            </div>
            <div class="search">
                {{ form_label(franchiseSearchType.city) }}
                {{ form_widget(franchiseSearchType.city) }}
            </div>
        </div>
            <div class="radio-toolbar">
                {{ form_widget(franchiseSearchType.active) }}
            </div>
        <div class="buttonSearch">
            <button>Rechercher</button>
        </div>
        {{ form_end(franchiseSearchType) }}
    </div>
    <h2>Liste des franchises</h2>
    <section class="listPartner">
        {%  for franchise in franchises %}
        <article class="border">
            <div class="listPartnerDiv">
                {{ include('franchise/_image_franchise.html.twig') }}
                <div>
                    <p>{{ franchise.name }}</p>
                    <p>{{ franchise.address }}</p>
                    <p>{{ franchise.shortDescription }}</p>
                    <p>{{ franchise.fullDescription }}</p>
                </div>
            </div>
            <div class="listActif">
                {% include 'interrupteur/_interrupteur.html.twig' with {active : franchise.active} only %}
{#                {% if is_granted('ROLE_ADMIN') %}#}
                <button type="button"><a href="{{ path('app_admin_edit_franchise', {id : franchise.id}) }}">Modifier la franchise</a></button>
                <button type="button"><a href="{{ path('app_admin_detail_franchise', {id : franchise.id}) }}">Voir la franchise</a></button>
{#                <button type="button"><a href="{{ path('app_forgot_password_request', {id : franchise.id}) }}">Réinitialisation mot de passe</a></button>#}
{#                {% endif %}#}
{# {% elseif is_granted('ROLE_USER')%} #}
{#                <button type="button"><a href="{{ path('app_detail_franchise', {id : franchise.id}) }}">Voir la franchise</a></button>#}
{#                <button type="button"><a href="{{ path('app_detail_franchise', {id : franchise.id}) }}">Réinitialisation mot de passe</a></button>#}
                {#        {% endif %}#}
            </div>
        </article>
        {% endfor %}
    </section>
{#{% if is_granted('ROLE_ADMIN') %}#}
<div class="partnerButton">
    <button><a href="{{ path('app_admin_create_franchise') }}">Créer un nouveau partenaire</a></button>
</div>
{#    {% endif %}#}
    {{ knp_pagination_render(franchises) }}
{% endblock %}

